.pie-pagina {

	background-color:#000;
	color:#FFF;
	min-height: 4rem;
	padding: 10px;
	box-sizing:border-box;

	h4 {

		margin:0;

	}

	

} 

.contacto {
		list-style: none;
	}

	input{
			border-radius: 5px;
		}