/*header > .container-fluid {
		background-image: url(../img/bg.jpeg);
		min-height: 450px;
		background-position: 0 60%;
		padding: 0 50px;
		box-sizing: border-box;

	}
*/


/*.diapo {

	position: absolute;
    top: 0;
    left: 0;
    height:420px;
    overflow: hidden;
    z-index: -4;
    padding:0;


}
*/

.my-nav {

position:absolute;
top:0;
width: 100%;
background:none;
border:0;
border-radius:0;
z-index:999;

}


.my-carousel {

position:absolute;
top:0;
width:100%;
overflow:hidden;
height:450px;
}





.cpt-md {
	top:5%;
}



