/*header > .container-fluid {
		background-image: url(../img/bg.jpeg);
		min-height: 450px;
		background-position: 0 60%;
		padding: 0 50px;
		box-sizing: border-box;

	}
*/
#cabecera {
	position:relative;
}

.diapo {

	position: absolute;
    top: 0;
    left: 0;
    height:420px;
    overflow: hidden;



}

header img {
	object-fit: cover;
}

